<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link href="../css/customer_login.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="login-form">
    <form action="/login" method="post">
      <h2 class="text-center">Log in</h2>
      <div class="form-group">
        <input type="text" name="userName" class="form-control" placeholder="Username" required="required">
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" placeholder="Password" required="required">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Log in</button>
      </div>
      <div class="clearfix">
        <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
        
      </div>
    </form>
    <p class="text-center"><a href="/register">Create an Account</a></p>
  </div>
</body>

</html>