section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thumbnail {
    width: 200px;
    height: 200px;
}

.deleteProduct-btn {
    background-color: red;
}

.payment {
    background-color: #fff;
    margin: 10px 10px;
    padding: 10px 10px;
}

.product {
    background-color: #fff;
    margin: 10px 10px;
    padding: 10px 10px;
}

.title {
    display: block;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    color: green;
    margin: 12px 12px;
    text-align: center;
}

.inf_product {
    text-align: center;

}

.title-product {
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    text-align: center;

}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}