*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* lớp GIẢ */
.header-icon::after{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #5f606a;
    width: 1px;
    height: 40px;
}
#content::after{
    content: "";
    display: block;
    clear: both;
}
#footer::after{
    content: "";
    display: block;
    clear: both;
}




:root{
    --height-header:150px;
    --width_payment_cart:100%;
}
#silder::after {
    content: "";
    display: block;
    clear: both;
}

/* lớp GIẢ end */

/* CSS CHUNG */
    .row_thr{
        float: left;
        width: 50%;
    }

    sup{
        font-weight: 600;
        font-size: 14px;

    }
    .Name-tickets{
        text-transform: uppercase !important;
        font-family: Arial, Helvetica, sans-serif!important;
        font-weight: 500;
    }
    .content-body img{
        border-top-left-radius: 5px !important;
        border-top-right-radius: 5px !important;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);


    }
    .content_hot img{
        border-radius: 5px !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    }
    .content_show-view img{
        border-radius: 3px !important;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
/*  END CSS CHUNG */


html{
    font-family: "Montserrat";
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 8px;
}
html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
html::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(97, 200, 234); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body{
}


#main{
   
}

/* HEADER */
#header{
    height: var(--height-header);
    background-color: #fff;
}
#header .header-header{
}
#header .header-container{
    justify-content: center;
    align-items: center;
}



#header .header-items{
}
#header .header-items .header-logo{
    display: flex;
    align-items: center;
}
#header .header-items>img{
    height: var(--height-header);
    width: 100%;
    object-fit: contain;
}
#header .header-items img:hover{
    cursor: pointer;
}

#header .header-items .items-text{
    position: relative;
    display: flex;
    flex-direction: row;
}
#header .items-hover{
    cursor: pointer;
}
#header .items-hover:hover .cart-no-items{
    display: block;
}
.price-section{
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    top: 26px;
    left: 88px;
    color: red;
}





#header .header-items .icon-header{
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #474c5f;
} 
#header .header-items .header-title{
    width: 200px;
    color: #474c5f;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 15px;
    text-transform: uppercase;
    
    
}
#header .header-items p span{
    font-size: 15px;
    text-transform: none;
    opacity: 0.8;
    font-weight: 700;
}

/* CART-LIST_ITEMS */



.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    justify-content: right;
    cursor: default;
    overflow-y: auto;
}
.modal.open{
    display: flex;
}

.modal::-webkit-scrollbar{
    width: 0 !important;
  display: none; 
}

/* modal close */
.close-pay{
    float: right;
    padding: 10px 20px;
    font-weight: 700;
}
.close-pay:hover{
    color:red;
}

.cart_items-list{
    background-color: #fff;
    width: 380px;
    animation: Showpay ease-out 0.5s;

}
.section-all-ticket{
    overflow-y: auto;
    max-height: 450px;
    display: block;
}
.section-all-ticket::-webkit-scrollbar{
    width: 0 !important;
  display: none; 
}


.cart_items-list form{
    display: flex;
    flex-direction: column;
}

.cart_items-list .title_cart{
    position: relative;
    margin: 20px 0;
    text-align: center;
    align-self: center;
    color: rgb(40, 183, 40);
    font-weight: 500;
    width: 200px;
    margin-left: 90px;
}
.cart_items-list .title_cart::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 16%;
    height: 2px;
    width: 60px;
    background-color: #ef5d5e;
}





tr,
.col_category-cart{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
    align-items: center;
    max-width: 350px;
    
}
.col_category-cart li:last-child{
    padding: 10px;
}
tr th,
.col_category-cart li{
    display: inline-block;
}


.img_cart-list{
    width: 70px;
    margin-right: 5px;
}
.img_cart-list img{
    width: 100%;
}

tr input{
    width: 50px;
    height: 25px;
    outline: none;
    margin-left: 10px;
}
tr th:last-child{
    padding: 10px;
}
tr th:last-child:hover{
    cursor: pointer;
    color: red;
}

.price-total{
    
}
.price-total p{
    text-align: right;
    margin-right: 10px;
    text-transform: uppercase;
}

.modal .cart-checkout{
    width: 150px;
    margin: 20px 0;
    text-align: center;
    align-self: center;
    padding: 10px 15px;
}
.modal .cart-checkout a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    padding: 5px 0;

}
.modal .cart-checkout:hover a{
    color: red;
    cursor: pointer;
}




/*END CART-LIST_ITEMS */



/* END HEADER CỦA HEADER */

/* NAVBAR */
.nav{
    position: sticky;
    top: -1px;
    width: 100%;
    padding-left: 50px;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.3);
    border-top: .1px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-color: #fff;

}
.nav>li{
    display: inline-block;
}
.nav>li .down{
   font-size: 15px;
}



.nav>li>a{
    display: inline-block;
    padding: 15px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #474c5f;
    font-weight: 300;
}
.nav .subnav li:hover a,
.nav>li:hover>a{
    background-color: #c25534;
    color: #fff;
    cursor: pointer;
    transition:ease-in-out .7s;
}

    /* subnav */
.nav li:hover .subnav{
    display: block;
}

.nav .subnav{
    position: absolute;
    display: none;
    top: 101%;
    left: 25%;
    background-color: #fff;
    border: 0.1px solid rgba(0, 0, 0, 0.3);

}
.nav .subnav li{
    list-style: none;  
    display: inline-block;
}

.nav .subnav a{
    display: inline-block;
    width: 100%;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;

    
}

    /*end    subnav */

    /* nav search */
.nav .nav-search{
    position: relative;
    float: right;
    margin-right: 10%;
}
.nav .nav-search  input{
    padding: 15px 30px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    outline: none;
    background-color: #fff;
}
.nav .nav-search  button{
    padding: 15px 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(238,238,238);
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    
}




    /*end nav search /////////////////*/

/* end NAVBAR */









/*  END HEADER */







/* END NAV-BAR///////// */
#silder {
    background-color: #000;
    height: 700px;
}
.silder-autoshow{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}
.silder-autoshow .mySilder{
    
}

.silder-autoshow img{
    width: 600px;
    height: 500px;

}
#silder .silder-text{  
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
#silder .silder-text .show-value{
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
    padding: 0 5px;
    
}  
#silder .silder-text .show-value .value-header{
    width: 450px;

}
#silder .silder-text .show-value .value-header p{
    font-size: 15px;
    margin-bottom: 10px;
}
#silder .silder-text .show-value .value-header h1{
    margin: 15px 0;
    color: #ef5d5e;
}

#silder .silder-text .show-value .value-body{
    line-height: 50px;
    margin: 10px;
}

#silder .silder-text .show-value .value-body i{
    border: 2px solid #ef5d5e;
    border-radius: 15px;
    padding: 5px;
    color: #ef5d5e;
}
#silder .silder-text .show-value .value-body p{
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
}
#silder .silder-text .show-value .value-footer{
    color: #ef5d5e;
}
#silder .silder-text .show-value .value-footer h2{
    font-size: 18px;
    margin: 10px 0;
}
#silder .silder-text .show-value .value-footer h2 span{
    font-size: 15px;
}


#silder .silder-text .show-value .value-footer img{
    width: 70%;
}






/*      END silder           ///////// */

#content{
    max-width: 100%;
    padding: 100px 0;
    background-color: rgb(238,238,238) ;
}
#content .content-header{
    width: 100%;
    text-transform: uppercase;

}

/* content-button content*/

#content .nav-content{ 
    display: flex;
    justify-content: center;
}
#content .nav-content ul{
    display: flex;
   border: 1px solid #474c5f;
   margin: 30px 0;
    border-radius: 30px;
    width: 450px;
    justify-content: center;

} 


#content .nav-content li{
   display: inline-block;

}
#content .nav-content li a{
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    color: #474c5f;
}
#content .nav-content li:hover a{
    color: #c25534;
    cursor: pointer;
    transition: 0.4s;

}
.btn-show_content a:focus{
    color: #c25534 !important;
}


.js-btn-show_content-1.active,
.js-btn-show_content-2.active,
.js-btn-show_content-3.active{
    border-bottom: 3px solid #ef5d5e;
}









/* end  button content */


#content{

}



#content .content-body{
    margin-bottom: 70px;
}
#content .content-body .ticket{
    width: 300px;
    padding: 0 16px;
    margin: 20px 0;

}
#content .content-body .ticket img{
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all .6s ease;
    border: .1px solid #ccc;
    background-color: #fff;
}
#content .content-body .ticket img:hover{
    transform: scale(1.05);
    opacity: 0.8;
}

#content .content-body .ticket-info{
    line-height: 1.5;
    text-align: center;
    padding: 0 8px;
    border: .1px solid #ccc;
    border-top: none;
    background-color: rgb(238,238,238);
}
#content .content-body .ticket-info h4{
    font-size: 25px;
    padding-top: 8px;
}
#content .content-body .ticket-info p{
    opacity: 0.7;
    font-size: 18px;
    margin: 5px 0;
}
#content .content-body .ticket-info span{
    font-size: 18px;
    margin: 7px 0;
}
#content .list-ticket_1,
#content .list-ticket_3,
#content .list-ticket_2{
    display: none;
}
#content .content-body .list-ticket_3.show,
#content .content-body .list-ticket_2.show,
#content .content-body .list-ticket_1.show{
    display: flex;
}
.buy-ticket{
    position: relative;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 5px 0;
    cursor: pointer;
    
}

.buy-ticket:active{
    background-color: #fff;
}
.buy-ticket:hover{
    color: #c25534;
}

.buy-ticket::before,
.buy-ticket::after{
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;

}
.buy-ticket::after{
    top: -1px;
    left: 0;
    border-top: .7px solid black;
    border-left: .7px solid black;
}
.buy-ticket::before{
    bottom: -1px;
    right: -1px;
    border-bottom: .7px solid black;
    border-right: .7px solid black;
}
.buy-ticket:hover::before,
.buy-ticket:hover::after{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* CONTENT ITEMNS HOT  */

#content .content_hot{
    padding-top: 20px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: rgb(238,238,238);
}

#content .content_hot::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
#content .content_hot::-webkit-scrollbar-track{
    background: rgb(238,238,238);
}



#content .content_hot > div{
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 1200px;
    height: 600px;
    margin-right: 50px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}


.btn-content_hot{
    text-align: center;
    margin-top: 30px;
}
.btn-content_hot .btn_hot{
    position: relative;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px 20px;
    border: 2px solid #474c5f;
    border-radius: 20px;
    background-color: #f4f4f4;
}
.btn_hot:focus{
    background-color: #c25534 !important;
    color: #fff;
}






.content_items_hot{
    height: 600px;
    
}


.img_items_hot{
    height: 600px;
    object-fit: contain;
    width: 90%;
}
.details__items_hot{
    line-height: 1.5;
}
.info_items_hot{
    font-size: 30px;
    margin: 15px 0;
    letter-spacing: 1px;
    position: relative;
    text-transform: uppercase;
}


.note_items_hot{
    font-size: 20px;
    margin-bottom: 15px ;
    
}
.take-place-today{
    font-size: 20px;
    margin: 10px 0;
    line-height: 1.5;
    opacity: 0.7;
}

.prices_items_hot{
    position: relative;
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
}
.details__items_hot sup{
    position: absolute;
    top: 55%;
    left: 730px;
    color: red;
}

.details__items_hot .buy-ticket{
    background-color: rgb(238,238,238);
    width: 250px;
    font-size: 15px;
    padding: 7px;
    text-align: center;

}
.details__items_hot .buy-ticket:active{
    background-color: #fff;
}
.details__items_hot .btn:hover{
    color: red;
}




/* END CONTENT ITEMNS HOT  */

/* CONTENT _SHOW_VIEW */
.content_show-view{
    margin-top: 100px;
}

.img_show-view{
    height: 170px;
    width: 100%;
    object-fit: cover;
    margin: 15px 10px;
    transition: .3s ease-in-out;
}
.section-title-show{
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #121212;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.section-title-show span{
    position: relative;
}
.section-title-show span::after{
    content: "";
    border-top: 3px solid #c25534;
    position: absolute;
    top: 113%;
    left: 0px;
    width: 146px;
    height: 2px;
   
}
.most-title-after span::after{
    content: "";
    border-top: 3px solid #c25534;
    position: absolute;
    top: 113%;
    left: 0px;
    width: 102px;
    height: 2px;
}



.img_show-view:hover{
    transform: scale(1.05);

}


/*END CONTENT _SHOW_VIEW */







/* END content /////////////////////////// */


/* FOOTER */
#footer{
    background-color:  #FFFACD;
    padding-bottom: 30px;
    border-top:1px solid rgba(0, 0, 0, 0.3) ;
    
}
#footer .footer-container{
    display: flex;
}

#footer .side-bar_footer{
    width: 40%;
    margin-left: 5%;
    color: #7a7a7a;
}
#footer .side-bar_footer img{
    width: 30%;
    display: flex;
    margin-bottom: 20px;
}
#footer .side-bar_footer i{
    display: block;
    margin: 20px 0;
   padding: 0 30px;
   font-size: 18px;
}
#footer .side-bar_footer i::before{
    margin-right: 15px;
}

#footer .footer-body{
    flex-grow: 1;
    overflow-x: hidden;
    margin-right: 70px;
}
#footer .footer-body ul{
    margin: 50px 0;
    font-size: 22px;
    line-height: 1.5;
    list-style: none;
    color: #7a7a7a;
}
#footer .footer-body ul a{
    display: inline-block;
    font-size: 17px;
    margin: 5px 0;
    text-decoration: none;
    color: #7a7a7a;
    font-weight: 500;
}
.section-footer ul p{
    font-size: 18px;
    width: 100%;
    margin: 10px 0;
    color: #7a7a7a;

}

.footer-img img{
    width:90%;
    object-fit: contain;
}
/* form email-foter */
#form-email input{
    padding: 10px 20px;
    width: 80%;
    outline: #ccc;
}
#form-email .buy-ticket{
    width: 80%;
    height: 37px;
    font-size: 15px;
    text-align: center;
    padding: 7px 0;
    background-color: #fff;
    border: none;
}

/*end form email-foter */




/* FOOTER FOOTER */

#footer .hori-line{
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    width: 86%;
    margin: 0 auto;
}
#footer .footer-footer{
    margin-left: 5%;
}
#footer .footer-footer a:first-child{
    display: inline-block;
    padding: 20px 20px;
    font-size: 15px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
}
#footer .footer-footer li{
    display: inline-block;
}
#footer .footer-footer li a{
    display: inline-block;
    padding: 20px 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}
#footer .footer-body ul a:hover,
#footer .footer-footer a:hover,
#footer .footer-footer li:hover a{
    color: #ef5d5e;
    cursor: pointer;

}
#footer .socical{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer .socical a{
    text-decoration: none;
    color: #000;
}

#footer .socical i{
    padding: 15px 15px;
    border: 1px solid #474c5f;
    border-radius: 50px;
    margin: 0 20px;
    
}
#footer .socical i:hover{
    background-color: #ef5d5e;
    color: #fff;
    cursor: pointer;
}



/*END FOOTER */




.btn{
    position: relative;
    cursor: pointer;
    padding: 10px 30%;
    background: white;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    color: green;

}
.btn:after, .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}
.btn:after {
    top: -1px;
    left: 0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
    width: 100%;
    height: 100%;
}





.modal-pay.show-modal-pay{
    display: flex;
}
.modal-pay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 4;
    justify-content: center;
    align-items: center;
}
.close-modal-pay{
    float: right;
    padding: 15px 20px;
}
.close-modal-pay:hover{
    color: red;
    cursor: pointer;
}


.modal-main-pay{
    min-height: 200px;
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    animation: Showpayment ease-in 0.4s;

}


/* modal-pay-header */
.modal-pay-header{

}
.modal-pay-header .title-modal-pay{
    position: relative;
    text-align: center;
    font-weight: 500;
    color: green;
    line-height: 1.5;
    margin: 10px 0 7px 0;
    padding-left: 60px;
    width: 80%;
}
.modal-pay-header .title-modal-pay::after{
    position: absolute;
    content: "";
    top: 92%;
    width: 95px;
    height: 2.5px;
    left: 96px;
    background-color: #ef5d5e;
}


/*end modal-pay-header */

/* modal-pay-container */
.modal-pay-container{
    padding-left: 5px;
    margin:0 32px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.modal-total-pay{
    font-weight: 500;
    font-size: 25px;
    line-height: 1.5;
}
.modal-pay-container .price-section{
    position: inherit;
    font-size: 18px;
    display: inline-block;
    padding-left: 55px;
    font-weight: 400;    
}
.modal-pay-container .modal-payments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
}
.modal-pay-container .modal-payments > div{
    display: inline-block;
    padding: 7px 0;
    width: 186px;
    text-align: center;
}

.form-control {
    padding: 10px 20px;
    line-height: 1.5;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 5px;

}


.custom-select:focus,
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(0 123 255 / 25%);
    border-radius: 2px;

}

.address-user label{
    margin-bottom: 5px;
}


.custom-select{
    height: 42px;
    line-height: 1.5;
    outline: none;
    border: 1px solid #ced4da;
    width: 140px;
    padding-left: 8px;
    border-radius: 4px;
}

.form-total-modal .buy-ticket{
    background-color: #fff;
    outline: none;
    border: none;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0;
}
.payment{
    margin: 10px 0;
    justify-content: space-around;
}
.cart-payment,
.momo-payment{
    display: none;
}
.img-momo-payment{

    width: 150px;
    margin: 0 auto;
}
.note-img-momo-payment{
    display: inline-block;
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    margin-left: -9px;
}
.cart-payment.show-payment,
.momo-payment.show-payment{
    display: block;
}




@keyframes Showpay{
    from{
        transform: translateX(50px);
        opacity: 0;

    }
    to{
        transform: translateX(0);
        opacity: 1;
       
    }

}

@keyframes Showpayment{
    from{
        transform: translateY(-100px);
        opacity: 0;

    }
    to{
        transform: translateY(0px);
        opacity: 1; 
    }
}