<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limontesweetalert2/7.2.0/sweetalert2.min.css/>"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="../../css/font-icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
		integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="footer">
        <div class="footer-container">
            <div class="side-bar_footer">
                <img src="../../images/logo/logo.jpg" alt="">
                <i class="ti-mobile">0986744591</i>
                <i class="ti-email">Quangdong166@gmail.com</i>
                <i class="ti-location-arrow">TP Hồ Chí Minh</i>
            </div>
            
            
            <div class="grid footer-body">
                <div class="row">
                  
                    <div class="col l-6 section-footer">
                        <div class="us-info">
                           <ul><span style="color: #000;">Thông Tin</span>
                            <li><a href="">Về chúng tôi</a></li>
                            <li><a href="https://policies.google.com/privacy?hl=vi">Chính Sách Bảo Mật</a></li>
                            <li><a href="https://vera.com.vn/pages/chinh-sach-thanh-toan">Chính sách thanh toán</a></li>
                            <li><a href="https://www.fujitsu.com/vn/vi/about/businesspolicy/saleoffer/">Điều khoản & Điều kiện</a></li>
                           </ul>
    
                        </div>
                    </div>

                    <div class="col l-6 section-footer">
                        <div class="us-info">
                           <ul><span style="text-transform:uppercase ; font-size:18px ; color: #000;">Nhận Bản Tin</span>
                            <p>Nhận thêm thông tin khuyến mãi</p>
                            <form action="#" method="post" id="form-email" name="subcribe-form" target="_blank" >
                                <input required type="email" value="" class="email" placeholder="Nhập email tại đây..." name="email" id="email-footer" aria-label="">
                                <button type="submit" class="buy-ticket">Đăng ký !</button>
                            </form>
                        </div>
                    </div>
                

                  
                    
                </div>
            </div>

        </div>
        <div class="hori-line">
        </div>
        <div class="footer-footer">
            <div class="row_thr">
                <a href="#">Copyright © Slidesigma - 2022</a href="#">
            </div>
            <div class="row_thr">
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy & Policy</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Notice</a></li>
                <div class="socical">
                    <span>Socical :</span>
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""> <i class="ti-google"></i></a>
                    <a href=""> <i class="ti-twitter-alt"></i></a>
                    <a href=""><i class="ti-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>